# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env

# Pytest cache
.pytest_cache/

# Temporary files
*.tmp
*.log

# Others
.DS_Store
